.about{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #111;
    color: #fff;
    display: flex;
    z-index: 60;
    // border-bottom: 1px solid grey;
    @media (min-width:600px){
        & {
            border-top: 1px solid rgb(145, 234, 56);
        }
    }

    @media (min-width:300px) and (max-width:600px){
        &{
            flex-direction: column;
        }
    }
    @media (min-width:360px) and (max-width:740px){
        & {
            height: 80vh;
        }
    }    
    @media (min-width:375px) and (max-width:667px){
        & {
            height: 82vh;
        }
    }
    @media (min-width:390px) and (max-width:844px){
        & {
            height: 84vh;
        }
    }


    &_left{
        height: 100vh;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6rem;
        position: inherit;
        color: #111;
        letter-spacing: 4px;
        transform: skew(-10deg);
        border-right: 1px solid grey;
        background-color: #111;
        text-shadow: -1px 0 rgb(145, 234, 56), 0 2px white, 2px 0 white, 0 -1px rgb(145, 234, 56);
        font-weight: 700;
        @media (min-width:300px) and (max-width:600px){
            & {
                transform: skew(0deg);
                width: 100%;
                height: 15vh;
                font-size: 4rem;
                border-right: none;
                background-color: #111;
            }
            
        }

           // S9
           @media (min-width:360px) and (max-width:600px){
            & {
                width: 92vw;
                height: 15vh;
                transform: skew(0deg);
                justify-content: left;
                margin-left: 1rem;
                border-radius:10px;
                padding-left: 20px;
                font-size: 4rem;
                border-right: none;
                background-color: #111;
                z-index: 10;
            }
       
        }

        // GLITCH
        .glitch{
            position:relative;
          }
          @keyframes noise-anim{
            $steps:10;
            @for $i from 0 through $steps{
              #{percentage($i*(1/$steps))}{
                clip:rect(random(100)+px,9999px,random(100)+px,0);
              }
            }
          }
          .glitch:after{
            content:attr(data-text);
            position:absolute;
            left:2px;
            top:0;
            // background:black;
            overflow:hidden;
            clip:rect(0,900px,0,0); 
            animation:noise-anim 2s infinite linear alternate-reverse;
          }
          
          @keyframes noise-anim-2{
            $steps:10;
            @for $i from 0 through $steps{
              #{percentage($i*(1/$steps))}{
                clip:rect(random(100)+px,9999px,random(100)+px,0);
              }
            }
          }
          .glitch:before{
            content:attr(data-text);
            position:absolute;
            left:-2px;
            top:0;
            // background:black;
            overflow:hidden;
            clip:rect(0,900px,0,0); 
            animation:noise-anim-2 3s infinite linear alternate-reverse;
          }

    }
    &_right{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100vh;
        align-items: center;
        padding: 3rem;
        justify-content: center;
        font-size: 1.3rem;
        letter-spacing: 2px;
        // transform: skew(-10deg);
        // border-left: 1px solid grey;
        font-weight: 500;
        @media (min-width:300px) and (max-width:600px){
            & {
                height: 70vh;
                width: 100%;
                padding: 0 2rem;
                font-size: 1rem;
                // transform: skew(0deg);
                border-left: none;
            }
        }
        @media (min-width:320px) and (max-width:658px){
            & {
                height: 70vh;
                font-size: 0.9rem;
                border-left: none;
                padding: 0 2rem;
                margin-top: 20px;
                // border: 1px solid white;
            }
        }

        @media (min-width:360px) and (max-width:740px){
            & {
                height: 70vh;
                font-size: 1rem;
                border-left: none;
                padding: 0 2rem;
                // border: 1px solid white;
            }
        }

        @media (min-width:360px) and (max-width:640px){
            & {
                height: 70vh;
                font-size: 0.9rem;
                border-left: none;
                padding: 0 2rem;
                // border: 1px solid white;
            }
        }

        @media (min-width:375px) and (max-width:667px){
            & {
                height: 70vh;
                font-size: 0.9rem;
                border-left: none;
                padding: 0 2rem 2rem 2rem;
                // border: 1px solid white;
            }
        }

        @media (min-width:376px) and (max-width:812px){
            & {
                height: 70vh;
                font-size: 1rem;
                border-left: none;
                padding: 0 2rem 2rem 2rem;
                // border: 1px solid white;
            }
        }

        @media (min-width:390px) and (max-width:844px){
            & {
                font-size: 1.1rem;
                border-left: none;
                height: 70vh;
                // border: 1px solid white;
                padding: 0 2rem 2rem 2rem;
            }
        }

        @media (min-width:393px) and (max-width:851px){
            & {
                font-size: 1.1rem;
                border-left: none;
                padding: 1rem 2rem 2rem 2rem;
            }
        }
        @media (min-width:412px) and (max-width:915px){
            & {
                font-size: 1.2rem;
                border-left: none;
                padding: 1rem 2rem 2rem 2rem;
            }
        }
        @media (min-width:480px) and (max-width:854px){
            & {
                font-size: 1.3rem;
                border-left: none;
                padding: 1rem 2rem 2rem 2rem;
            }
        }

    }    
}

.straight{
    transform: skew(10deg);
    @media (min-width:300px) and (max-width:600px){
        transform: skew(0deg);
    }
}

.bold-color{
    color:  rgb(255, 157, 0);
    font-weight: 800;
}

.setImg{
    top: 0;
    // right: 10rem;
    height: 200px;
    width: 300px;
    opacity: 0.6;
    border-radius: 20px;
    // transform: skew(10deg);
    @media (min-width:300px) and (max-width:600px){
        &{
            display: none;
        }
    }
}