$red-color:#f44336;
$blue-color:#2196f3;

.contact{
    position: relative;
    // border-top: 1px solid grey;
    width: 100%;
    height: 100vh;
    background: #111;
    color: #fff;
    overflow: hidden;
    display: flex;


    @media (min-width:600px){
        & {
            border-top: 1px solid grey;
        }
    }
    
    @media (min-width:300px) and (max-width:600px){
        &{
            flex-direction: column;
        }  
        .contact_left{
            width: 100vw;
            height: 30vh;
            font-size: 3.8rem;
            display: flex ;
            row-gap: 1rem;
            justify-content: space-between;
            flex-direction: column;
            & .c{
                width: 100%;
                text-align: center;
                height: 12vh;
                text-shadow: -1px 0 white, 0 2px white, 2px 0 white, 0 -1px white;
                color: #111;
                letter-spacing: 4px;
            
                  // S9
                  @media (min-width:360px) and (max-width:600px){
                    & {
                        width: 92vw;
                        height: 14vh;
                        transform: skew(0deg);
                        justify-content: left;
                        margin-left: 1rem;
                        border-top:2px solid grey;
                        border-left:4px solid rgb(218, 218, 218);
                        border-radius:10px;
                        padding-top: 0;
                        padding-left: 0;
                        font-size: 4rem;
                        border-right: none;
                        background-color: #111;
                        z-index: 10;
                    }
                    &::after{
                        content: '';
                        width: 45vw;
                        transform: translateX(-88%);
                        bottom: 0;
                        height: 70%;
                        position: absolute;
                        z-index: -1;
                        border-bottom: 2px solid grey;
                        border-right:3px solid rgb(218, 218, 218);
                        border-radius: 10px;
                    }
                    &::before{
                        content: '';
                        width: 44vw;
                        right: 3%;
                        transform: translateY(-20%);
                        bottom: 0;
                        height: 70%;
                        position: absolute;
                        z-index: -1;
                        border-bottom: 2px solid grey;
                        border-right:3px solid rgb(218, 218, 218);
                        border-radius: 10px;
                    }
                }

                @media (min-width:375px) and (max-width:667px){
                    &{
                        height: 15vh;
                    }
                    &::after{
                        transform: translateX(-84%);
                        bottom: 0;
                        height: 70%;
                    }
                    &::before{
                        content: '';
                        width: 44vw;
                        right: 3%;
                        transform: translateY(-20%);
                    }
                }

                @media (min-width:390px) and (max-width:667px){
                    &{
                        height: 14vh;
                    }
                    &::after{
                        transform: translateX(-82%);
                        bottom: 0;
                        height: 70%;
                    }
                    &::before{
                        content: '';
                        width: 44vw;
                        right: 5%;
                        transform: translateY(-20%);
                    }
                }

                @media (min-width:412px) and (max-width:915px){
                    &{
                        height: 13vh;
                    }
                    &::after{
                        transform: translateX(-80%);
                        bottom: 0;
                        height: 70%;
                    }
                    &::before{
                        content: '';
                        width: 44vw;
                        right: 6%;
                        transform: translateY(-20%);
                    }
                }

                @media (min-width:414px) and (max-width:896px){
                    &{
                        height: 14vh;
                    }
                    &::after{
                        transform: translateX(-80%);
                        bottom: 0;
                        height: 70%;
                    }
                    &::before{
                        content: '';
                        width: 44vw;
                        right: 6%;
                        transform: translateY(-20%);
                    }
                }
            
                // GLITCH
                & .glitch{
                    position:relative;
                  }
                  @keyframes noise-anim{
                    $steps:10;
                    @for $i from 0 through $steps{
                      #{percentage($i*(1/$steps))}{
                        clip:rect(random(100)+px,9999px,random(100)+px,0);
                      }
                    }
                  }
                & .glitch:after{
                    content:attr(data-text);
                    position:absolute;
                    left:2px;
                    top:0;
                    // background:black;
                    overflow:hidden;
                    clip:rect(0,900px,0,0); 
                    animation:noise-anim 2s infinite linear alternate-reverse;
                  }
                  
                  @keyframes noise-anim-2{
                    $steps:10;
                    @for $i from 0 through $steps{
                      #{percentage($i*(1/$steps))}{
                        clip:rect(random(100)+px,9999px,random(100)+px,0);
                      }
                    }
                  }
                & .glitch:before{
                    content:attr(data-text);
                    position:absolute;
                    left:-2px;
                    top:0;
                    // background:black;
                    overflow:hidden;
                    clip:rect(0,900px,0,0); 
                    animation:noise-anim-2 3s infinite linear alternate-reverse;
                  }
            


             }
             & .socials_1{
                width: 100%;
                bottom: 0;
                justify-content: center;
                align-items: center;

                @media (min-width:360px) and (max-width:667px){
                    &{
                        display: none;
                    }
                }
            }
            
            // contact_left device se
            @media (min-width:360px) and (max-width:667px){
                &{
                    display: block;
                    row-gap: 0;
                }  
            }


        }
        .contact_right{
            width: 100%;
        }
        .contact_form{
            width: 95vw;
            height: 75vh;
            padding: 15px 15px 15px 15px;
            & label{
                font-size: 1.4rem;
                font-weight: 600;
                margin-bottom: 0.3rem;
                letter-spacing: 4px;
                text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
            }
            & button{
                width: 35vw;
                height: 8vh;
            }
        }

        
    }
    @media (min-width:390px) and (max-width:600px){
        .contact_form{
            height: 68vh;
            & label{
                font-size: 1.4rem;
                font-weight: 600;
                margin-bottom: 0.6rem;
                letter-spacing: 4px;
                text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
            }
            & button{
                width: 25vw;
                height: 6vh;
            }
        }
    }

    &_left{
        height: 90vh;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6rem;
        position: inherit;
        font-weight: 700;
        & .c{
            color: #111;
            letter-spacing: 4px;
            text-shadow: -1px 0 white, 0 2px white, 2px 0 white, 0 -1px white;

            // GLITCH
            & .glitch{
                position:relative;
              }
              @keyframes noise-anim{
                $steps:10;
                @for $i from 0 through $steps{
                  #{percentage($i*(1/$steps))}{
                    clip:rect(random(100)+px,9999px,random(100)+px,0);
                  }
                }
              }
            & .glitch:after{
                content:attr(data-text);
                position:absolute;
                left:2px;
                top:0;
                // background:black;
                overflow:hidden;
                clip:rect(0,900px,0,0); 
                animation:noise-anim 2s infinite linear alternate-reverse;
              }
              
              @keyframes noise-anim-2{
                $steps:10;
                @for $i from 0 through $steps{
                  #{percentage($i*(1/$steps))}{
                    clip:rect(random(100)+px,9999px,random(100)+px,0);
                  }
                }
              }
            & .glitch:before{
                content:attr(data-text);
                position:absolute;
                left:-2px;
                top:0;
                // background:black;
                overflow:hidden;
                clip:rect(0,900px,0,0); 
                animation:noise-anim-2 3s infinite linear alternate-reverse;
              }
        
        }
    }

    &_right{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100vh;
        background-color: #111;
        position: inherit;
        // -webkit-transform: skew(11deg,0deg);
    }

    &_form{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 35vw;
        height: 75vh;
        // border: 1px solid rgb(186, 186, 186);
        padding: 20px 20px 20px 20px;
        color: black;
        border-radius: 10px;
        & label{
            font-size: 1.7rem;
            font-weight: 600;
            margin-bottom: 0.3rem;
            letter-spacing: 4px;
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        }
        & input{
            width: 100%;
            height: 50px;
            border-radius: 10px;
            border: none;
            color: #fff;
            padding-left: 10px;
            font-size: 1.2rem;
            background-color: rgb(65, 65, 65);
            &:focus{
                border: none;
                outline: none;
            }
        }
        & textarea{
            resize: none;
            height: 100px;
            width: 100%;
            color: #fff;
            padding-left: 10px;
            font-size: 1.2rem;
            border: none;
            border-radius: 10px;
            background-color: rgb(65, 65, 65);
            &:focus{
                border: none;
                outline: none;
            }
        }
        & button{
            width: 10vw;
            height: 8vh;
            font-size: 22px;
            font-weight: 500;
            cursor: pointer;
            background-color: rgb(21, 180, 18);
            border: none;
            border-radius: 10px;
            color: white;
            &:hover{
                background-color:rgb(18, 160, 16);
            }
        }

    }

    .socials_1{
        position: absolute;
        bottom: 8rem;
        display: flex;
        gap: 1rem;
    }

    .coloredIcon_1{
        color: #fff;
        // font-style: italic;
        // -webkit-transform: skew(-11deg,0deg);
        font-size: 2.7rem;
        &:hover{
            animation: coloredIconAnimation 0.2s infinite;
        }
        @keyframes coloredIconAnimation {
            0%{
                text-shadow: 5px 4px $red-color,-5px -6px $blue-color;
            }
            25%{
                text-shadow: -5px -4px $red-color,5px 6px $blue-color;
            }
            50%{
                text-shadow: 5px -4px $red-color,-8px 4px $blue-color;
            }
            75%{
                text-shadow: -8px -4px $red-color,-5px -4px $blue-color;
            }
            100%{
                text-shadow: -5px 0 $red-color,5px -4px $blue-color;
            }
        }        
    }
}