$red-color:#f44336;
$blue-color:#2196f3;

.coolLink{
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    font-size: 19px;
    padding-bottom: 6px;
    letter-spacing: 1px;
    &:before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: currentColor;
        transform: scale3d(0,1,1);
        transform-origin: right;
        transition: transform 0.4s cubic-bezier(0.5,0.5,0.3,1);
    }
    &:after{
        content: attr(data-text);
        position: absolute;
        top:0;
        height: 100%;
        transform: translate3d(150%,0,0);
        transition: transform 0.3s cubic-bezier(0.5,0.5,0.3,1);
    }
    & span{
        transition: transform 0.3s cubic-bezier(0.5,0.5,0.3,1);
    }
    &:hover:before{
        transform: scale3d(1,1,1);
        transform-origin: left;
    }
    &:hover:after{
        transform:translate3d(0,0,0);
    }
    &:hover span{
        transform:translate3d(-150%,0,0);
    }
}

.coolButton{
    position: relative;
    border: none;
    cursor: pointer;
    width: 165px;
    height: 80px;
    background: none;
    color: #fff;
    &:before,&:after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &:before{
        content: "";
        background: #fff;
        border-radius: 20px 50px 20px 50px ;
        transition:  border-radius 0.3s ease-in-out;
    }
    &:hover:before{
        border-radius: 50px 20px 50px 20px ;  
        transition:  border-radius 0.3s ease-in-out;  
    }
    & span{
        mix-blend-mode: difference;
        font-weight: 700;
        font-size: 19px;
    }
    @media (max-width:650px){
        // transform: scale3d(0.8,0.8,0.8);
    
    }


}


.coloredIcon{
    color: #fff;
    font-size: 35px;
    &:hover{
        animation: coloredIconAnimation 0.2s infinite;
    }
    @keyframes coloredIconAnimation {
        0%{
            text-shadow: 5px 4px $red-color,-5px -6px $blue-color;
        }
        25%{
            text-shadow: -5px -4px $red-color,5px 6px $blue-color;
        }
        50%{
            text-shadow: 5px -4px $red-color,-8px 4px $blue-color;
        }
        75%{
            text-shadow: -8px -4px $red-color,-5px -4px $blue-color;
        }
        100%{
            text-shadow: -5px 0 $red-color,5px -4px $blue-color;
        }
    }        
}